$isCheapestCarPlace: #B1EBB2;
$isCheapestCarPlaceHover: #9DE19F;

$isMiddleCarPlace: #E7F0A2;
$isMiddleCarPlaceHover: #DCE87E;

$isMostExpensiveCarPlace: #FFCCCB;
$isMostExpensiveCarPlaceHover: #FABFBE;

$isOccupiedCarPlace: #F6F6F6;

$isActiveCarPlace: #009ADD;
$isActiveCarPlaceHover: darken($isActiveCarPlace, 4);

$rr-railwaysRedTheme: #e74c3c;
$rr-railwaysTheme: #009ADD;


$trainCardGreyText: #96989C;

